<a href="https://colab.research.google.com/github/alinybeja/Notas-de-aula/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 3 #

30/03

Python Programming - Livro Sugerido

In [ ]:
a = 1 + 2
print(a)
type(a)

3

int

In [ ]:
a = "Aliny"
print(a)
type(a)

Aliny

str

In [ ]:
salario_bruto = 5000
sb = 5000 # sb é o Salário Bruto
del salario_bruto # del deleta a variável

In [ ]:
nome = "Aliny"
Aliny = nome
print(type(Aliny))
print(Aliny)

<class 'str'>
Aliny

In [ ]:
nome = "Alice"
nome_completo = nome + " Maria" # ou nome + " " + "Maria"
print(nome_completo)

Alice Maria

In [ ]:
a = "bla"
print(a*10)
# também serve usar a = a*10

blablablablablablablablablabla

In [ ]:
frase = 'Aliny disse: "O céu está lindo"'
print(nome)

Aliny disse: "O céu está lindo"

In [ ]:
texto = " \'Parte A\' + \"Parte B\" "
print(texto)

 'Parte A' + "Parte B"

In [ ]:
# para colocar \:
b = "\\"
print(b)

\

In [ ]:
texto = "Primeira Linha\nSegunda Linha"
print(texto)

Primeira Linha
Segunda Linha

In [ ]:
texto = """
Lista de Compras:
• Batata
• Hambúrguer
• Refrigerante
"""
print(texto)

In [ ]:
# patorjk

In [ ]:
a = 10000
b = 2000
print(a,b)
tmp = a #tmp/temp = variável temporária
a = b
b = tmp
print(a,b)

10000 2000
2000 10000

In [ ]:
a = 10000
b = 2000
a = a + b
b = a - b
a = a - b
print(a,b)

2000 10000

In [ ]:
c = "bla\n"*10
print(c)

bla
bla
bla
bla
bla
bla
bla
bla
bla
bla

In [ ]:

a = 10000
b = 2000
a,b = b,a #só funciona no Python
print(a,b)

2000 10000

In [ ]:
# Mini Programa em Python
nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: ")) # colocar int porque o input devolve uma string
print("Nossa ", nome, ", parece que você tem ", idade*2, " anos")

Digite seu nome: Marco
Digite sua idade: 25
Nossa  Marco , parece que você tem  50  anos

In [ ]:
idade = int(input("Digite sua idade: "))
a = idade
if a < 18:
  print("Desculpe, você não pode usar esse site. Vá estudar.")
elif 18 <= a <= 60:
  print("Olá, seja bem-vindo.")
elif a > 60:
  print("Aproveite a vida")

In [ ]:
idade = int(input("Digite sua idade:")

SyntaxError: ignored

In [ ]:
"São Paulo" > "Corinthians"

True

# Aula 4 #
31/03

In [ ]:

idade = 20
a = idade >= 18
print(a)

True

In [ ]:
type(a)

bool

== igual

!= diferente

/ divisão

// divisão inteira

% resto da divisão

Em C:
True = 1
False = 0
Divisão somente com /

In [ ]:
numero = int(input("Digite um número: "))
if numero % 2 == 0:
  print("Você escolheu um número par")
else:
  print("Você escolheu um número ímpar")

Digite um número: 4
Você escolheu um número par

In [ ]:
a = 5
b = 0
while b <= 100:
  b = b + 10
  c = a + b
print(a, b, c)

5 110 115

In [ ]:
i = 1
while i < 10:
  i = i + 1
  print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 10:
  i = i + 1
  print(i)

2
3
4
5
6
7
8
9
10
11

In [ ]:
i = 0
while i < 10:
  i = i + 1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = int(input("Digite n: "))
soma = 0
i = 1
while i <= n:
  soma = soma + i
  i = i + 1
print("A soma é", soma)

Digite n: 4
A soma é 10

In [ ]:
# Resolução alternativa
n = int(input("Digite n: "))
soma = (1 + n)*n//2
print(soma)

Digite n: 2
3

In [ ]:

n = int(input("Digite n: "))
fat = 1 # Elemento neutro da multiplicação
i = 1
while i <= n:
  fat = fat * i
  i = i + 1
print(n, "! é igual a",fat)

Digite n: 5
5 ! é igual a 120

In [ ]:
n = int(input("Digite n: "))
n_salvo = n
fat = 1
i = n
while n > 0:
  fat = fat * n
  n = n - 1
print(fat)

Digite n: 5
120